.divider {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80px;

    .stroke {
        position: absolute;
        top: -50%;
    }
}

.top {
    background-color: #fff;
    background-image: url("/images/background-noise.png");
    background-position: 0 0;
    background-size: auto;
    width: 100%;
    height: 50%;

    .imageLeft {
        position: absolute;
        left: 0;
        top: -50%;
        right: auto;
        bottom: auto;
    }

    .imageRight {
        position: absolute;
        left: auto;
        top: -50%;
        right: 0;
        bottom: auto;
        z-index: 2;
    }
}

.bottom {
    background-color: #e1eaf4;
    background-image: url("/images/background-noise.png");
    background-position: 0 0;
    background-size: auto;
    width: 100%;
    height: 50%;
}

@media only screen and (min-width: 479px) {
    /* For big mobile: */
    .divider {
        height: 120px;

        .stroke {
            top: -12%;
        }
    }

    .top .imageLeft {
        top: -29%;
        width: 100px;
        height: 168px;
    }

    .top .imageRight {
        width: 140px;
        height: 212px;
    }
}

@media only screen and (min-width: 767px) {
    /* For tablet: */
    .top .imageLeft {
        top: -52%;
        width: 130px;
        height: 218px;
    }

    .top .imageRight {
        top: -50%;
        width: 170px;
        height: 258px;
    }
}

@media only screen and (min-width: 991px) {
    /* For desktop: */
    .top .imageLeft {
        top: -68%;
        width: 180px;
        height: 302px;
    }

    .top .imageRight {
        top: -110%;
        width: 230px;
        height: 349px;
    }
}