.logonav {
    display: none;
}

.navbar {
    padding: 20px 5% 0;
    background-color: #fbe8de;
    background-image: url("/images/background-noise.png");
    background-position: 0 0;
    background-size: auto;
}

@media only screen and (min-width: 767px) {
    /* For tablet: */
    
}

@media only screen and (min-width: 991px) {
    /* For desktop: */
    .navbar {
        display: none;
    }

    .logonav {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: auto;
        padding-top: 32px;
        display: flex;
        justify-content: center;
    }
}